html, body{
    overflow-x:hidden;
    background: #F5F5F5;
    font-family: 'Nunito Sans';
    font-style: normal;
    text-transform: capitalize;
}
h1, h2, h3, h4, h5, h6, a, label, p, td, tr, th{
    font-family: 'Nunito Sans';
    font-style: normal;
    text-transform: capitalize;
}
h1{
    font-weight: 700;
    font-size: 40px;
    line-height: 40px;
    color: #081735;
}
h5{
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: #FFFFFF;
}
h6{
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #8F95B2;
}
a{
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #081735;
    text-decoration: none;
    display: block;
}
p{
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
}
label{
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #081735;
}
.loginBtn{
    padding: 10px;
    background: #6C5DD3;
    box-shadow: 0px 8px 16px rgba(143, 149, 178, 0.15);
    border-radius: 8px;
}
.loginBtn a{
    color: #FFFFFF;
}
h6 a{
    text-decoration: underline;
}
.loginBg{ 
    background-repeat: no-repeat;
    background-image: url("../images/pverifyBg.png");   
    height: 100%;
}
.carousel-caption{
    position: relative;
    left: -18%;
    bottom: -50px;
    padding-bottom: 2rem;
}
.carousel-item{
    left: 18%;
}
.carousel-inner{
    top: 15%;
}
.passwordToggle {
    margin-top: 0.3rem !important;
    margin-left: 92% !important;
    display: inline;
    position: absolute;
}
.carousel-item .img-fluid{
    max-width: 65%;
}
.imgPos{
    position: absolute;
    top: 45%;
}
i.bi.bi-envelope{
    position: absolute;
    left: 8px;
    top: 7px;
    color: #8F95B2;
}
i.bi.bi-lock{
    position: absolute;
    left: 8px;
    top: 7px;
    color: #8F95B2;
}
.form-control{
    padding: .375rem 2rem;
}
.carousel-indicators .active {
    opacity: 1 !important;
    width: 25px !important;
    height: 5px !important;
    margin-top: 2px;
    border-radius: 10px;
}
.carousel-indicators [data-bs-target] {
    box-sizing: content-box;
    flex: 0 1 auto;
    width: 8px;
    height: 8px;
    border-radius: 10px !important;
    padding: 0;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #fff;
    background-clip: padding-box;
    border: 0;
    opacity: .5;
    transition: opacity .6s ease;
}
.loginDashboardPverify .input-group>.form-control:focus{
    z-index: 0;
}
.loginDashboardPverify .input-group input{
    border-radius: 8px;
    border-top-right-radius: 8px !important;
    border-bottom-right-radius: 8px !important;
}
.laboratoryTestBg{
    background-color: #FFFFFF !important;
}
.sidebar{
    margin: 0;
    padding: 16px;
    width: 200px;
    background-color: #FFFFFF;
    position: fixed;
    height: 100%;
    overflow: auto;
    border-right: 1px solid #E6E8F0;
}
.sidebar a{
    display: block;
    color: #8F95B2;
    padding: 14px;
    text-decoration: none;
}
.sidebar a.active, button.active{
    background-color: #6C5DD3 !important;
    color: white !important;
    border-radius: 12px;
}
.sidebar a:hover{
    color: #000000;
}
.sidebar .dropdownMenu li a{
    color: #000000;
}
.sidebarSmall .sidebar{
    width: 90px;
    transition: all ease 1s;
    overflow-x: hidden;
    overflow: visible;
    padding: 10px;
}
.sidebarSmall .spanDisplay span{
    display: none;
}
.sidebarSmall .makePaymentBtn{
    display: none;
}
.sidebarSmall a .bi{
    font-size: 26px;
}
.sidebarSmall a{
    padding: 10px 20px;
}
.sidebarSmall a:hover span {
    display: block;
    font-size: 12px;
    color: #FFFFFF;
    background-color: #000000;
    border: 1px solid #000000;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    padding: 8px 5px;
    position: absolute;
    opacity: 0.8;
    left: 75px;
    top: 5px;
    right: -100px;
}
.sidebarSmall a.active span{
    background-color: #6C5DD3;
    border: 1px solid #6C5DD3;
    color: #FFFFFF;
    opacity: 1 !important;
}
.sidebarSmall a.active span::before{
    border-right: 20px solid #6C5DD3 !important;
}
.sidebarSmall a:hover span::before{
    content: '';
    width: 0px;
    height: 0;
    border-top: 21px solid transparent;
    border-right: 20px solid black;
    border-bottom: 21px solid transparent;
    position: absolute;
    left: -18px;
    top: -1px;
}
.sidebarSmall span{
    display: none;
}
.sidebarSmall .content{
    transition: 1s;
    margin-left: 88px;
}
.sidebarSmall .logoBig{
    display: none;
}
.sidebarSmall .logoSmall{
    display: block !important;
}
.sidebarSmall .buttonSmall button i{
    display: none;
}
/* .sidebarSmall #dropdownDiv, #dropdownDivMedical, #dropdownDivDoctor{
    position: absolute;
    left: 90px;
    top: 70px;
} */
.sidebarSmall .dropdownMenu li a{
    color: #000000;
}
.sidebar .sidebarSmallIcon{
    display: none;
}
.sidebarSmall .sidebarSmallIcon{
    display: block !important;
}
.sidebarSmall button div i{
    display: block !important;
}
.sidebarSmall .logoBig{
    display: none;
}
.sidebarSmall .logoSmall{
    display: block !important;
}
div.content{
    margin-left: 200px;
}
.bi{
    font-size: 16px;
}
.dashboardPverify h3{
    font-weight: 700;
    font-size: 35px;
    line-height: 30px;
    color: #081735;
}
.dashboardPverify h5{
    text-align: left;
    font-weight: 700;
    font-size: 20px;
    line-height: 32px;
    color: #081735;
}
.notification h4{
    color: #000000;
}
.notification h6{
    text-align: left;
}
.dashboardPverify a{
    font-size: 14px;
}
.dashboardPverify form{
    position: relative;
}
.dashboardPverify input.form-control.me-2{
    background-color: #E6E8F0;
    font-size: 14px;
}
.dashboardPverify .content .col-md-3 button{
    position: absolute;
    top: -2px;
    left: -6px;
}
.dashboardPverify .notification{
    position: relative;
    background-color: #FFFFFF;
    width: 40px;
    height: 40px;
    border-radius: 20px;
}
.dashboardPverify .notification:hover{
    background-color: #6C5DD3;
    color: #fff;
}
.bi-bell {
    font-size: 22px;
    position: absolute;
    bottom: -15px;
    left: 12px;
}
.dashboardPverify .notification button{
    position: absolute;
    top: 1px;
    left: 3px;
    background: transparent;
    border: 0;
}
.dashboardPverify .btn-check:checked+.btn, .btn.active, .btn.show, .btn:first-child:active, :not(.btn-check)+.btn:active {
    border-color: transparent;
}
.graphBg{
    background-color: #FFFFFF;
    box-shadow: 0px 8px 16px rgba(143, 149, 178, 0.15);
    border-radius: 16px;
}
.graphBg h6{
    color: #081735;
}
.graphBg p{
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #081735;
}
.tableBg{
    background: #FFFFFF;
    box-shadow: 0px 6.17778px 37.0667px rgba(38, 45, 118, 0.08);
    border-radius: 16px;
}
.tableBg form input{
    border: none;
    background-color: transparent !important;
}
.bi-box-arrow-down{
    color: #8F95B2;
    font-size: 18px;
}
.bi-chevron-down{
    color: #8F95B2;
    font-size: 18px;
}
.bi-filter{
    color: #8F95B2;
    font-size: 18px;
}
.exportBtn button{
    padding: 8px 8px 0px 8px;
    position: relative;
    top: 0;
    left: 0;
    background: transparent;
    border: 1px solid #D8DAE5;
    border-radius: 8px;
}
.popup{
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.popup .popuptext{
    visibility: hidden;
    background-color: #555;
    color: #fff;
    border-radius: 6px;
    padding: 2rem;
    position: absolute;
    z-index: 1;
    margin-left: -80px;
    width: 470px;
    right: -40px;
    top: 25px;
    background: #FFFFFF;
    box-shadow: 0px 40px 100px rgba(68, 68, 79, 0.1);
}
.popup .show{
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}
.popupAcc{
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.popupAcc .popuptextAcc{
    visibility: hidden;
    background-color: #555;
    color: #fff;
    border-radius: 6px;
    padding: 2rem;
    position: absolute;
    z-index: 1;
    margin-left: -80px;
    width: 470px;
    right: 20px;
    top: 40px;
    background: #FFFFFF;
    box-shadow: 0px 40px 100px rgba(68, 68, 79, 0.1);
}
.popupAcc .showAcc{
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}
@-webkit-keyframes fadeIn{
    from {opacity: 0;} 
    to {opacity: 1;}
} 
@keyframes fadeIn{
    from {opacity: 0;}
    to {opacity:1 ;}
}
.popuptext .bi-chat-left-text{
    color: Blue; 
    font-size: 25px;
}
.popuptext .bi-hand-thumbs-up{
    color: red;
    font-size: 25px;
}
.popuptext h6{
    color: #3A3939;;
}
.popuptext .businessBtn{
    text-align: center;
}
.popup span{
    display: inline-block;
}
table td:nth-child(6){
    border-radius: 16px;
    background: rgba(12, 232, 152, 0.05);
    text-align: center;
    color: #6C5DD3;
}
table td:nth-child(7){
    border-radius: 16px;
    background: rgba(108, 93, 211, 0.05);
    text-align: center;
    color: #6C5DD3;
}
table .tableViewBtn{
    position: relative;
    background: #6C5DD3;
    box-shadow: 0px 8px 16px rgba(143, 149, 178, 0.15);
    border-radius: 8px;
    color: #FFFFFF;
    padding: 5px 16px;
    cursor: pointer;
    border: 0;
}
thead tr:first-child {
    background-color: #F9FAFC;
    color: #8F95B2;
}
thead tbody, td, tfoot, th, thead, tr {
    border-color: inherit;
    border-style: solid;
    border-width: 0;
    border-top: 1px solid;
    padding: 20px 0px 20px 0px;
}
.dataTables_filter{
    position: absolute;
}
.dataTables_filter label::before{
    position: relative;
    left: 25px;
    content: "\f52a";
    display: inline-block;
    font-family: bootstrap-icons !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    vertical-align: -0.125em;
    -webkit-font-smoothing: antialiased;
}
/*  */
#dropdownDiv, #dropdownDivMedical, #dropdownDivDoctor{
    background-color: #c6c6f7;
    border-radius: 12px;
    /* transition:all 4s ease-in; */
    display: none;
}
.sidebar button{
    border-radius: 12px;
    padding: 14px 0px;
    border: 0;
    font-size: 14px;
    font-weight: 700;
    text-transform: capitalize;
}
.block{
    display: block;
    width: 100%;
    border: none;
    cursor: pointer;
    text-align: center;
}
.sidebar button:not(.active), .bi-chevron-down{
    background-color: #FFFFFF;
    color: #8F95B2 !important;
}
.sidebar .active .bi-chevron-down{
    background-color: #6C5DD3;
    color: #FFFFFF !important;
}
.dropdownMenu{
    list-style-type: none;
    padding-inline-start: 0px;
}
.dropdownMenu li{
    margin: 5px;
    padding: 5px 0px;
}
.sidebar .dropdownMenu li a{
    font-weight: 700;
    font-size: 14px;
    text-decoration: none;
    cursor: pointer;
    border-radius: 12px;
}
.sidebar .dropdownMenu li a:hover{
    background-color: #6C5DD3;
    color: #FFFFFF;
}
.bi-chevron-down{
    color: #FFFFFF;
    font-size: 16px;
}
body::-webkit-scrollbar, .sidebar::-webkit-scrollbar, .sidebarSmall::-webkit-scrollbar{
    width: 5px;
}
body::-webkit-scrollbar-track, .sidebar::-webkit-scrollbar-track, .sidebarSmall::-webkit-scrollbar-track{
    background: white;
}
body::-webkit-scrollbar-thumb, .sidebar::-webkit-scrollbar-thumb, .sidebarSmall::-webkit-scrollbar-thumb{
    background-color: #6C5DD3;
    border-radius: 50px;       
    border: 0.5px solid black;  
}
.hamburger{
    border: 3px solid #6C5DD3;
    background: transparent;
    opacity: 1;
    border-radius: 10px;
}
.user table td:nth-child(6){
    background: transparent;
}
.user table td{
    font-weight: 600;
}
.user table td h5{
    font-size: 18px;
}
.user table td h6{
    text-align: left;
    line-height: 5px;
}
.dotActive{
    height: 10px;
    width: 10px;
    background-color: #6C5DD3;
    border-radius: 50%;
    display: inline-block;
}
.dotPending{
    height: 10px;
    width: 10px;
    background-color: #FFCE73;
    border-radius: 50%;
    display: inline-block;
}
.dotSuspended{
    height: 10px;
    width: 10px;
    background-color: #FF754C;
    border-radius: 50%;
    display: inline-block;
}